name: 'doggy-devkit-local'

services:
  db:
    image: postgres:18.1-alpine
    hostname: db
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: demo_dev
    ports:
      - "54322:5432"
    volumes:
      - lib:/var/lib/postgresql
      - data:/var/lib/postgresql/data

volumes:
  lib:
  data:
